{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <div class="logo">
        <img src="static/img/logo.jpg" alt="logo" width="300" height="80">
      </div>
      <div class="home-btn">
        <a id="home-page" href="/home">
          <input type="submit" value="Главная страница" />
        </a>
      </div>
      <div class="send-req-btn">
        <a id="send" href="/send_task">
          <input type="submit" value="Отправить заявку" />
        </a>
      </div>
      <div class="show-req-btn">
        <a id="show" href="/show_task">
          <input type="submit" value="Мои заявки" />
        </a>
      </div>
      <div class="enter-btn">
        <a id="enter" href="/">
          <input type="submit" value="Выйти" />
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="note-block">
  <form method="POST">
    <div class="note-area">
      <textarea name="note" id="note" class="form-control"></textarea>
    </div>
    <button type="submit" class="add-btn">Отправить</button>
  </form>
</div>
{% endblock %}