{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <div class="logo">
        <img src="static/img/logo.jpg" alt="logo" width="300" height="80">
      </div>
      <div class="all-req-btn">
        <a id="all" href="/admin">
          <input type="submit" value="Заявки" />
        </a>
      </div>
      <div class="users-btn">
        <a id="users" href="/users_list">
          <input type="submit" value="Пользователи" />
        </a>
      </div>
      <div class="enter-btn">
        <a id="enter" href="/">
          <input type="submit" value="Выйти" />
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<center>
  <h1>Пользователи</h1>
</center>
{% for user in users %}
<li class="list-group-item">
  <button type="submit" class="add-btn">{{ user }}</button>
</li>
{% endfor %}
{% endblock %}